<!-- header start -->
#front_header
<!-- header end -->
<hr>

<!-- nav start -->
#front_nav($!keyword)
<!-- nav end -->
<hr>
<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content">
    <div class="am-u-sm-12">
        <h1 class="blog-text-center">-- 我们的活动 --</h1>
        <div class="timeline-year">
        	#foreach($mainMap in $activityMap.entrySet())
        		<br>
        		<hr>
        		<h1>$mainMap.key</h1>
                <ul>
        		#foreach($subMap in $mainMap.value.entrySet())
        		<br>
        		<hr>
        		<h3>$subMap.key</h3>
        		<hr>
        		<li>
                   #foreach($item in $subMap.value)
                   	<span class="am-u-md-4 timeline-span">$!item.activityDate</span>
                   	<span class="am-u-md-8"><a href="${rc.contextPath}/activity/${item.activityId}.html">$!item.activityName</a></span>
                   #end
                </li>
        		#end
        		</ul>
        	#end
        </div>
        
    </div>


</div>
<!-- content end -->

#front_footer
  <script type="text/javascript">
$(function(){
  $("#searchForm").attr("action","$!{rc.contextPath}/index.html")
});
</script>
