<!DOCTYPE html>
<html>
<!-- BEGIN HEAD -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Amaze UI Admin index Examples</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="${rc.contextPath}/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="${rc.contextPath}/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="${rc.contextPath}/assets/css/style.css">
  <link rel="stylesheet" href="${rc.contextPath}/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="${rc.contextPath}/assets/css/admin.css">
  <link rel="stylesheet" href="${rc.contextPath}/assets/css/bootstrap.min.css">
	<!--[if lt IE 9]>
	<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
	<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
	<script src="${rc.contextPath}/assets/js/amazeui.ie8polyfill.min.js"></script>
	<![endif]-->
	
	<!--[if (gte IE 9)|!(IE)]><!-->
	<script src="${rc.contextPath}/assets/js/jquery.min.js"></script>
	<!--<![endif]-->
</head>
<!-- END HEAD -->
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->
	$screen_content
##因为screen里引了bootstrap.min.js，且关于modal-dialog的操作和amaze.min.js有一定的冲突，所以amazeui.min.js一定要在下面引！！！！！
<script src="${rc.contextPath}/assets/js/amazeui.min.js"></script>
<script src="${rc.contextPath}/assets/js/app.js"></script>
<script src="${rc.contextPath}/assets/js/jquery.form.min.js"></script>

</body>
	
</html>