#admin_header
<div class="am-cf admin-main">
#admin_sidebar
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">权限信息</strong> / <small>编辑</small></div>
  </div>
  	<div class="am-container">
        <form id="frmMain" method="post" class="am-form" action="${rc.contextPath}/permission/updatePermission.html" data-am-validator>
          <input type="hidden" name="permissionId" value="$!{permission.permissionId}">
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              权限名
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="permissionName" value="$!{permission.permissionName}" class="am-input-sm" maxlength="25" required>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             权限标识
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="permissionSign" value="$!{permission.permissionSign}" class="am-input-sm" maxlength="25" required>
            </div>
          </div>
            
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             序号
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="number" name="sortNo" value="$!{permission.sortNo}" class="am-input-sm" required>
            </div>
          </div>
            

        </form>
      </div>
   <div class="am-margin">
    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button type="button" id="cancelBtn" class="am-btn am-btn-default  am-btn-xs">放弃保存</button>
  </div>
</div>
</div>
#admin_sidebar_sm
#admin_footer

<script type="text/javascript">
$(function(){
	$("#submitBtn").click(function(){
		$("#frmMain").submit();
	});
	$("#cancelBtn").click(function(){
		window.location.href='${rc.contextPath}/permission/listPermission.html';
	});
	
});
</script>