#admin_header
<div class="am-cf admin-main">
#admin_sidebar
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">活动信息</strong> / <small>新增</small></div>
  </div>
  	<div class="am-container">
        <form id="frmMain" method="post" class="am-form" action="${rc.contextPath}/admin/activity/insertActivity.html" data-am-validator>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              活动名称
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="activityName" class="am-input-sm"  maxlength="25" required>
            </div>
          </div>
          
           <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             活动日期
            </div>
            <div class="am-u-sm-4 am-u-md-2 am-u-end">
              <input id="activityDate" type="text" class="am-form-field" name="activityDate" placeholder="活动日期"  readonly/>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              活动地址
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="activityAddress" class="am-input-sm"  maxlength="25" required>
            </div>
          </div>

<!--           <div class="am-g am-margin-top"> -->
<!--             <div class="am-u-sm-4 am-u-md-2 am-text-right"> -->
<!--               参与的志愿者 -->
<!--             </div> -->
<!--             <div class="am-u-sm-8 am-u-md-4 am-u-end"> -->
<!--               <button type="button" id="assignVolunteers" onclick="javascript:assignVolunteer()" class="am-btn am-btn-default">点击选择</button> -->
<!--             </div> -->
<!--           </div> -->
            

        </form>
      </div>
   <div class="am-margin">
    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button type="button" id="cancelBtn" class="am-btn am-btn-default  am-btn-xs">放弃保存</button>
  </div>
</div>
</div>




<div class="am-modal am-modal-confirm am-margin" tabindex="-1" id="volunteer-modal">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">选择志愿者</div>
    <div class="am-modal-bd">
      	<form action="" id="assignUserForm" class="am-form-inline">
      		<input type="hidden" name="pageNo" id="pageNo"/>
      		<div class="am-form-group">
			    <input type="text" name="nameSearch" id="nameSearch" class="am-form-field" placeholder="姓名">
			 </div>
			 <div class="am-form-group">
			    <input type="text" name="mobileSearch" id="mobileSearch" class="am-form-field" placeholder="手机号">
			 </div>
			  <button type="button" id="volunteerInfoSearchBtn" class="am-btn am-btn-default">查询</button>
      		<div class="am-g am-margin-top">
          <div id="boxes" class="am-scrollable-vertical">

   		  </div> 		
          </div>
      	</form>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
    </div>
  </div>
</div>





#admin_sidebar_sm
#admin_footer

<script type="text/javascript">
//正则校验
if ($.AMUI && $.AMUI.validator) {
	$.AMUI.validator.patterns = $.extend($.AMUI.validator.patterns, {
	      name: /^([\u4e00-\u9fa5]|[a-zA-Z\.\s]+)+$/,
	      mobile: /^1[34578]\d{9}$/,
	      id: /^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/,
	      passport: /^[A-Za-z0-9]+$/
	});
 }
 
$(function(){
	var activityDate = $("#activityDate");
	/* 生日禁止选择大于当前日期 */
	var nowTemp = new Date();
    var nowDay = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0).valueOf();
    var nowMoth = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), 1, 0, 0, 0, 0).valueOf();
    var nowYear = new Date(nowTemp.getFullYear(), 0, 1, 0, 0, 0, 0).valueOf();
	var checkin = activityDate.datepicker({
	  viewMode: "years", 
      onRender: function(date, viewMode) {
        // 默认 days 视图，与当前日期比较
        var viewDate = nowDay;

        switch (viewMode) {
          // moths 视图，与当前月份比较
          case 1:
            viewDate = nowMoth;
            break;
          // years 视图，与当前年份比较
          case 2:
            viewDate > nowYear;
            break;
        }

        return date.valueOf() > viewDate ? 'am-disabled' : '';
      }
    }).on('changeDate.datepicker.amui', function(ev) {
    	var dependedVal = $(this).val();
    	if(!dependedVal){
    		return;
    	}
		//根据日期字符串转换成日期 
		var regEx = new RegExp("\\-","gi"); 
		dependedVal=dependedVal.replace(regEx,"/"); 
		var nowDate = new Date();
		var activityDate = new Date(dependedVal);
		var age = nowDate.getFullYear()-activityDate.getFullYear();
		if(nowDate.getMonth()<activityDate.getMonth()){
			age = age-1;
		}else if(nowDate.getMonth()==activityDate.getMonth()){
			if(nowDate.getDate()<activityDate.getDate()){
				age = age-1;
			}
		}
		$("#age").text(age+"岁");
    })
	$("#submitBtn").click(function(){
		$("#isTs").val(0);
		$("#frmMain").submit();
	});
	$("#volunteerInfoSearchBtn").click(function(){
		query();
	});
	$("#cancelBtn").click(function(){
		window.location.href='${rc.contextPath}/admin/activity/listActivity.html';
	});
	
	
	/* 按钮loading */
	$('.btn-loading').click(function () {
		  var $btn = $(this)
		  $btn.button('loading');
		    setTimeout(function(){
		      $btn.button('reset');
		  }, 2000);
		});
	
	/* 地址监听 */
});





</script>