#admin_header
<div class="am-cf admin-main">
#admin_sidebar
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">活动信息</strong> / <small>新增</small></div>
  </div>
  	<div class="am-container">
        <form id="frmMain" method="post" class="am-form" action="${rc.contextPath}/customer/insertCustomer.html" data-am-validator>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              活动名称
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="activityName" class="am-input-sm js-pattern-name"  maxlength="25" required>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             活动日期
            </div>
            <div class="am-u-sm-4 am-u-md-2">
              <input id="activityDate" type="text" class="am-form-field" name="activityDate" placeholder="生日"  readonly/>
            </div>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              活动地址
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="activityName" class="am-input-sm js-pattern-name"  maxlength="25" required>
            </div>
          </div>

          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              参与的志愿者
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end" name="fellowId">
            	<input type="hidden" name="fellowId" id="fellowId" >
              <button type="button" id="fellowName" onclick="javascript:assignVolunteer()" class="am-btn am-btn-default">点击选择</button>
            </div>
          </div>
            

        </form>
      </div>
   <div class="am-margin">
    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button type="button" id="cancelBtn" class="am-btn am-btn-default  am-btn-xs">放弃保存</button>
  </div>
</div>
</div>




<div class="am-modal am-modal-confirm am-margin" tabindex="-1" id="company-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">选择关联人</div>
    <div class="am-modal-bd" id="companyActivity">
      	<form action="" id="assignUserForm" class="am-form-inline">
      		<input type="hidden" name="pageNo" id="pageNo"/>
      		<div class="am-form-group">
			    <input type="text" name="nameSearch" id="nameSearch" class="am-form-field" placeholder="姓名">
			 </div>
			 <div class="am-form-group">
			    <input type="text" name="phoneSearch" id="phoneSearch" class="am-form-field" placeholder="手机号">
			 </div>
			  <button type="button" id="userInfoSearchBtn" class="am-btn am-btn-default">查询</button>
      		<div class="am-g am-margin-top">
          <div id="boxes" class="am-scrollable-vertical">

   		  </div> 		
          </div>
      	</form>
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
    </div>
  </div>
</div>





#admin_sidebar_sm
#admin_footer

<script type="text/javascript">
//正则校验
if ($.AMUI && $.AMUI.validator) {
	$.AMUI.validator.patterns = $.extend($.AMUI.validator.patterns, {
	      name: /^([\u4e00-\u9fa5]|[a-zA-Z\.\s]+)+$/,
	      mobile: /^1[34578]\d{9}$/,
	      id: /^(\d{6})(\d{4})(\d{2})(\d{2})(\d{3})([0-9]|X)$/,
	      passport: /^[A-Za-z0-9]+$/
	});
 }
 
$(function(){
	var activityDate = $("#activityDate");
	/* 生日禁止选择大于当前日期 */
	var nowTemp = new Date();
    var nowDay = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0).valueOf();
    var nowMoth = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), 1, 0, 0, 0, 0).valueOf();
    var nowYear = new Date(nowTemp.getFullYear(), 0, 1, 0, 0, 0, 0).valueOf();
	var checkin = activityDate.datepicker({
	  viewMode: "years", 
      onRender: function(date, viewMode) {
        // 默认 days 视图，与当前日期比较
        var viewDate = nowDay;

        switch (viewMode) {
          // moths 视图，与当前月份比较
          case 1:
            viewDate = nowMoth;
            break;
          // years 视图，与当前年份比较
          case 2:
            viewDate > nowYear;
            break;
        }

        return date.valueOf() > viewDate ? 'am-disabled' : '';
      }
    }).on('changeDate.datepicker.amui', function(ev) {
    	var dependedVal = $(this).val();
    	if(!dependedVal){
    		return;
    	}
		//根据日期字符串转换成日期 
		var regEx = new RegExp("\\-","gi"); 
		dependedVal=dependedVal.replace(regEx,"/"); 
		var nowDate = new Date();
		var activityDate = new Date(dependedVal);
		var age = nowDate.getFullYear()-activityDate.getFullYear();
		if(nowDate.getMonth()<activityDate.getMonth()){
			age = age-1;
		}else if(nowDate.getMonth()==activityDate.getMonth()){
			if(nowDate.getDate()<activityDate.getDate()){
				age = age-1;
			}
		}
		$("#age").text(age+"岁");
    })
	$("#submitBtn").click(function(){
		$("#isTs").val(0);
		$("#frmMain").submit();
	});
	$("#userInfoSearchBtn").click(function(){
		query();
	});
	$("#cancelBtn").click(function(){
		window.location.href='${rc.contextPath}/customer/listCustomer.html';
	});
	
	
	/* 按钮loading */
	$('.btn-loading').click(function () {
		  var $btn = $(this)
		  $btn.button('loading');
		    setTimeout(function(){
		      $btn.button('reset');
		  }, 2000);
		});
	
	/* 地址监听 */
	$("#province").change(function(){
		if($(this).val()){
			$("#address").css("display","");
			$("#address").css("visibility","");
		}else{
			$("#address").css("display","none");
			$("#address").css("visibility","hidden");
			$("#address").val("");
		}
	})
});



function conveterParamsToJson(paramsAndValues) {  
    var jsonObj = {};  
  
    var param = paramsAndValues.split("&");  
    for ( var i = 0; param != null && i < param.length; i++) {  
        var para = param[i].split("=");  
        jsonObj[para[0]] = para[1];  
    }  
  
    return jsonObj;  
}  

/**
 * 分配同行人
 */
function assignVolunteer(){
	$("#boxes").empty();
	loadUser();
	$('#company-confirm').modal({
        relatedTarget: this,
        onConfirm: function(options) {
        	var userId = $("input[type='radio']:checked").val();
        	$("#fellowId").val(userId);
        	var param = {'userId':userId};
        	$.ajax({
        		type : 'post',
                url : '${rc.contextPath}/customer/ajax/getUserInfoById.json',
        		data : param,
                dataType : 'json',  
                success : function(data){
        			if(data.success){
        				var name = data.data.name;
        				$("#fellowName").html(name);
        			}else{
        				alert("获取志愿者信息失败！");
        			}
                },  
                error : function(data,textstatus){
        			alert("获取志愿者信息失败！");
                }  
            });
        },
      //  closeViaDimmer: false,
        // closeOnConfirm: false,
        onCancel: function() {
        	$("#nameSearch").val(""); 
        	$("#phoneSearch").val(""); 
        	$("#pageNo").val(""); 
        }
      });
}

/**
 * 遮罩层条件查询，分页查询
 */
function query(pageNo){
	if(pageNo){
		$("#pageNo").val(pageNo);
	}
	$("#boxes").empty();
	loadUser();
}

/**
 * 获取客户信息
 */
function loadUser(){
	var nameSearch = $("#nameSearch").val();
	var phoneSearch = $("#phoneSearch").val();
	var pageNo = $("#pageNo").val();
	var param = {'nameSearch':nameSearch,'phoneSearch':phoneSearch,'pageNo':pageNo};
	$.ajax({
		type : 'post',
        url : '${rc.contextPath}/customer/ajax/getUserInfo.json',
		data : param,
        dataType : 'json',  
        success : function(data){
			if(data.success){
				if(data.data.length>0){
						createUserInfoBoxes(data.data);
				}else{
					createUserInfoBoxes(null);
				}
			}else{
				alert("获取人员信息失败！");
			}
        },  
        error : function(data,textstatus){
			alert("获取人员信息失败！");
        }  
    });
}

//创建用户信息html
function createUserInfoBoxes(userInfos){
	var userInfoHtml = '<table class="am-table am-table-bordered am-table-centered">'
    +'<thead>'
    +'<tr>'
    +'<th>&nbsp;</th>'
    +'  <th>姓名</th>'
    +'  <th>性别</th>'
    +'  <th>手机</th>'
    +'  <th>邮箱</th>'
    +'</tr>'
    +'</thead>'
    +'<tbody>'
     if(userInfos){
		for(var i=1;i<userInfos.length;i++){
			
			userInfoHtml = userInfoHtml+'<tr>'
			+'<td><input type="radio" name="userId" value="'+userInfos[i].customerId+'"/></td>'
			+'<td>'+userInfos[i].name+'</td>'
			+'<td>'+userInfos[i].sex+'</td>'
			+'<td>'+userInfos[i].mobile+'</td>'
			+'<td>'+userInfos[i].email+'</td>'
			+'</tr>'
			
		}
		
		userInfoHtml = userInfoHtml+'</tbody>'
		+'</table>'
		+'<div class="am-cf">'
		+'共'+userInfos[0].totalCount+'条记录'
		+'<div class="am-fr">'
		+'<ul class="am-pagination">'
		+'<li' 
		if(userInfos[0].pageNo=='1'){
			userInfoHtml = userInfoHtml+' class="am-disabled"'
		}
		userInfoHtml = userInfoHtml+'><a href="javascript:query(1)">«</a></li>'
		if(userInfos[0].totalPages>0){
			for(var i=1;i<=userInfos[0].totalPages;i++){
				userInfoHtml = userInfoHtml+'<li'
				if(i==userInfos[0].pageNo){
					userInfoHtml = userInfoHtml+' class="am-active"'
				+'><a href="javascript:query('+i+')">'+i+'</a></li>'
				}
			}
		}else{
			userInfoHtml = userInfoHtml+'<li class="am-active"><a href="javascript:query(1)">1</a></li>'
		}
		userInfoHtml = userInfoHtml+'<li'
		if(userInfos[0].pageNo==userInfos[0].totalPages){
			userInfoHtml = userInfoHtml+' class="am-disabled"'
		}
		userInfoHtml = userInfoHtml+'><a href="javascript:query('+userInfos[0].totalPages+')">»</a></li>'
		+'   </ul>'
		+' </div>'
		+'</div>'
    } 
	
	$(userInfoHtml).appendTo("#boxes");
}

</script>