#admin_header
<div class="am-cf admin-main">
#admin_sidebar
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">志愿者信息</strong> / <small>修改</small></div>
  </div>
  	<div class="am-container">
        <form id="frmMain" class="am-form" action="${rc.contextPath}/admin/volunteer/updateVolunteer.html" method="post" data-am-validator>
          <input type="hidden" name="volunteerId" value="$!{volunteer.volunteerId}" />
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              姓名
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="volunteerName" value="$!{volunteer.volunteerName}" class="am-input-sm" maxlength="25" required>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              性别
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <select name="sex" placeholder="点击选择.." data-am-selected required>
              	 <option selected value=""></option>
              	#foreach($sex in $sexMap.entrySet())
				  <option value="$!{sex.key}" #if(${volunteer.sex}==${sex.key}) selected #end>$!{sex.value}</option>
				#end
			  </select>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             生日
            </div>
            <div class="am-u-sm-4 am-u-md-2">
              <input id="birthday" type="text" class="am-form-field" value="$!{volunteer.birthday}" name="birthday" placeholder="生日"  readonly/>
            </div>
            <div id="age" class="am-u-sm-4 am-u-md-2 am-u-end">
            	
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             手机
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="mobile" value="$!{volunteer.mobile}"class="am-input-sm js-pattern-mobile" maxlength="25" required>
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             身份证
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="identityCard" value="$!{volunteer.identityCard}" class="am-input-sm" maxlength="18" required>
            </div>
          </div>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             来源
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <input type="text" name="source" value="$!{volunteer.source}" class="am-input-sm" maxlength="25" required>
            </div>
          </div>
            

        </form>
      </div>
   <div class="am-margin">
    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button type="button" id="cancelBtn" class="am-btn am-btn-default  am-btn-xs">放弃保存</button>
  </div>
</div>
</div>
#admin_sidebar_sm
#admin_footer

<script type="text/javascript">
$(function(){
	var birthday = $("#birthday");
	/* 生日禁止选择大于当前日期 */
	var nowTemp = new Date();
    var nowDay = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0).valueOf();
    var nowMoth = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), 1, 0, 0, 0, 0).valueOf();
    var nowYear = new Date(nowTemp.getFullYear(), 0, 1, 0, 0, 0, 0).valueOf();
	var checkin = birthday.datepicker({
	  viewMode: "years", 
      onRender: function(date, viewMode) {
        // 默认 days 视图，与当前日期比较
        var viewDate = nowDay;

        switch (viewMode) {
          // moths 视图，与当前月份比较
          case 1:
            viewDate = nowMoth;
            break;
          // years 视图，与当前年份比较
          case 2:
            viewDate > nowYear;
            break;
        }

        return date.valueOf() > viewDate ? 'am-disabled' : '';
      }
    }).on('changeDate.datepicker.amui', function(ev) {
    	var dependedVal = $(this).val();
    	if(!dependedVal){
    		return;
    	}
		//根据日期字符串转换成日期 
		var regEx = new RegExp("\\-","gi"); 
		dependedVal=dependedVal.replace(regEx,"/"); 
		var nowDate = new Date();
		var birthday = new Date(dependedVal);
		var age = nowDate.getFullYear()-birthday.getFullYear();
		if(nowDate.getMonth()<birthday.getMonth()){
			age = age-1;
		}else if(nowDate.getMonth()==birthday.getMonth()){
			if(nowDate.getDate()<birthday.getDate()){
				age = age-1;
			}
		}
		$("#age").text(age+"岁");
    })
	$("#submitBtn").click(function(){
		$("#frmMain").submit();
	});
	$("#cancelBtn").click(function(){
		window.location.href='${rc.contextPath}/admin/volunteer/listVolunteer.html';
	});
	
});
</script>