#admin_header
<div class="am-cf admin-main">
#admin_sidebar
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页文件维护</strong> / <small>新增</small></div>
  </div>
  	<div class="am-container">
        <form id="frmMain" method="post" class="am-form" action="${rc.contextPath}/homepageFile/insertFile.html" data-am-validator enctype="multipart/form-data" >
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             文件说明
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
            	<textarea  name="remark" class="am-input-sm" maxlength="100" >
				</textarea>
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
         文件
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <div class="am-form-group am-form-file">
			  	<button type="button" class="am-btn am-btn-primary am-btn-sm">
			    <i class="am-icon-cloud-upload"></i> 选择要上传的文件</button>
			    <input id="doc-form-file" name="path" type="file" multiple required>
			  </div>
			<div id="file-list"></div>	
            </div>
            <div class="am-hide-sm-only am-u-md-4 am-u-lg-6">*必填</div>
          </div>
            
        </form>
      </div>
   <div class="am-margin">
    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button type="button" id="cancelBtn" class="am-btn am-btn-default  am-btn-xs">放弃保存</button>
  </div>
</div>
</div>
#admin_sidebar_sm
#admin_footer

<script type="text/javascript">
$(function(){
	
	//上传 start
	$('#doc-form-file').on('change', function() {
	      var fileNames = '';
	      $.each(this.files, function() {
	        fileNames += '<span class="am-badge">' + this.name + '</span> ';
	      });
	      $('#file-list').html(fileNames);
	    });
    //end
	
	$("#submitBtn").click(function(){
		$("#frmMain").submit();
	});
	$("#cancelBtn").click(function(){
		window.location.href='${rc.contextPath}/homepageFile/listHomepageFile.html';
	});
	
});
</script>