#macro(front_header)
<header class="am-g am-g-fixed blog-fixed blog-text-center blog-header">
    <div class="am-u-sm-8 am-u-sm-centered">
        <img width="200" src="${rc.contextPath}/assets/img/gy009.jpg" alt="粉墨轩艺术促进中心"/>
        <h2 class="am-hide-sm-only">粉墨轩艺术促进中心</h2>
    </div>
</header>
#end
#macro(front_footer)
 <footer class="blog-footer">
   <div class="am-g am-g-fixed blog-fixed am-u-sm-centered blog-footer-padding">
   </div>    
   <div class="blog-text-center">© 2017 allenwoody0410@gmail.com</div>    
 </footer>
#end
#macro(front_nav $keyword)
<nav class="am-g am-g-fixed blog-fixed blog-nav">
<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only blog-button" data-am-collapse="{target: '#blog-collapse'}" ><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="blog-collapse">
    <ul class="am-nav am-nav-pills am-topbar-nav">
      <li class="am-active"><a href="${rc.contextPath}/index.html">首页</a></li>
    </ul>
    <form class="am-topbar-form am-topbar-right am-form-inline" id="searchForm" method="get" role="search">
      <div class="am-form-group">
        <input type="text" class="am-form-field am-input-sm" name="keyword" value="$!{keyword}" placeholder="搜索">
      </div>
    </form>
  </div>
</nav>
#end
###########管理台############
#macro(admin_header)
<header class="am-topbar admin-header">
  <div class="am-topbar-brand">
    <strong>FMX</strong> <small>志愿者管理系统</small>
  </div>

  <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

  <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
	
	<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-users"></span>${session.getAttribute("currentUser")}</a></li>
    </ul>
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
     <li><a href="${rc.contextPath}/admin/user/modifyPassword.html"><span class="am-icon-cog"></span> 修改密码</a></li>
    </ul>
      #*
    <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
      <li><a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a></li>
      <li class="am-dropdown" data-am-dropdown>
        <a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
          <span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
        </a>
        <ul class="am-dropdown-content">
          <li><a href="#"><span class="am-icon-user"></span> 资料</a></li>
          <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
          <li><a href="#"><span class="am-icon-power-off"></span> 退出</a></li>
        </ul>
      </li>
      <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>
    </ul>
      *#
  </div>
</header>
#end

#macro(admin_footer)
<footer>
  <hr>
  <p class="am-padding-left">© 2017 allenwoody0410@gmail.com</p>
</footer>
#end

#macro(admin_sidebar)
<!-- sidebar start -->
  <div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
    <div class="am-offcanvas-bar admin-offcanvas-bar">
      <ul class="am-list admin-sidebar-list">
        <li><a href="${rc.contextPath}/admin/index.html"><span class="am-icon-home"></span> 首页</a></li>
        <li><a href="${rc.contextPath}/admin/volunteer/listVolunteer.html"><span class=""></span> 志愿者信息</a></li>
        <li><a href="${rc.contextPath}/admin/activity/listActivity.html"><span class=""></span> 活动信息</a></li>
        <li class="admin-parent">
          <a class="am-cf am-collapsed" data-am-collapse="{target: '#collapse-nav-permisison'}"><span class="am-icon-file"></span> 权限管理 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
          <ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav-permisison">
            <li><a href="${rc.contextPath}/admin/user/listUser.html" class="am-cf"><span class=""></span> 用户管理</a></li>
            <li><a href="${rc.contextPath}/admin/role/listRole.html"><span class="am-icon-puzzle-piece"></span> 角色管理</a></li>
            ##if($shiro.hasPermission('permission:query'))
            <li><a href="${rc.contextPath}/admin/permission/listPermission.html"><span class="am-icon-th"></span> 权限管理</a></li>
            ##end
          </ul>
        </li>
        <li><a href="${rc.contextPath}/admin/user/logout.html"><span class="am-icon-sign-out"></span> 注销</a></li>
      </ul>

      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-bookmark"></span> 公告</p>
          <p>时光静好，与君语；细水流年，与君同。</p>
        </div>
      </div>
#*
      <div class="am-panel am-panel-default admin-sidebar-panel">
        <div class="am-panel-bd">
          <p><span class="am-icon-tag"></span> wiki</p>
          <p>Welcome to the Amaze UI wiki!</p>
        </div>
      </div>
*#
    </div>
  </div>
  <!-- sidebar end -->
  #end
  
#macro(admin_sidebar_sm)
<a href="#" class="am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}">
  <span class="am-icon-btn am-icon-th-list"></span>
</a>
#end

#macro(confirm)
<div class="am-modal am-modal-confirm" tabindex="-1" id="my-confirm">
  <div class="am-modal-dialog">
    <div class="am-modal-hd">确认删除</div>
    <div class="am-modal-bd">
      确定要删除这条记录吗？
    </div>
    <div class="am-modal-footer">
      <span class="am-modal-btn" data-am-modal-cancel>取消</span>
      <span class="am-modal-btn" data-am-modal-confirm>确定</span>
    </div>
  </div>
</div>
#end