#admin_header
<div class="am-cf admin-main">
#admin_sidebar
<div class="admin-content">

  <div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">用户管理</strong> / <small>修改密码</small></div>
  </div>
  	<div class="am-container">
        <form id="frmMain" class="am-form" action="${rc.contextPath}/user/modifyPassword.html" method="post">
          <input type="hidden" name="userId" value="$!{user.userId}"/>
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              登录名
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              $!{user.loginname}
            </div>
          </div>
          
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              用户名
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              $!{user.username}
            </div>
          </div>
            
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             当前 密码
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
	            <div class="am-form-group">
	              <input type="password" id="currentPassword" name="currentPassword" class="am-input-sm js-ajax-validate" data-ajax-message="密码错误" data-validate-async/>
            	</div>
            </div>
          </div>
            
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
              新密码
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <div class="am-form-group">
                <input type="password" id="password" name="password" class="am-input-sm" required/>
              </div>
            </div>
          </div>
            
          <div class="am-g am-margin-top">
            <div class="am-u-sm-4 am-u-md-2 am-text-right">
             确认 密码
            </div>
            <div class="am-u-sm-8 am-u-md-4 am-u-end">
              <div class="am-form-group">
                <input type="password" name="repeat_password" placeholder="请再次输入新密码"  data-validation-message="两次密码输入不一致" class="am-input-sm" data-equal-to="#password" required/>
              </div>
            </div>
          </div>
            
            

        </form>
      </div>
   <div class="am-margin">
    <button type="button" id="submitBtn" class="am-btn am-btn-primary am-btn-xs">提交保存</button>
    <button type="button" id="cancelBtn" class="am-btn am-btn-default  am-btn-xs">放弃保存</button>
  </div>
</div>
</div>
#admin_sidebar_sm
#admin_footer

<script type="text/javascript">
$(function(){
	$("#submitBtn").click(function(){
		$("#frmMain").submit();
	});
	$("#cancelBtn").click(function(){
		window.location.href='${rc.contextPath}/user/listUser.html';
	});
	
	$("#frmMain").validator({
		validate:function(validity){
			 // Ajax 验证
		      if ($(validity.field).is('.js-ajax-validate')) {
		    	  if(!$(validity.field).val()){
		    		  validity.valid=false;
		    		  return validity;
		    	  }
		        // 异步操作必须返回 Deferred 对象
		        return $.ajax({
	        	  type : 'post',  
		          data: {"currentPassword":$(validity.field).val()},
		          url: '${rc.contextPath}/user/ajax/validatePassword.json',
		          cache: false// 实际使用中请禁用缓存
// 		          dataType: 'json'
		        }).then(function(data) {
		          validity.valid=data.success;
		          return validity;
		        }, function() {
		          return validity;
		        });
		      }
		},
		onValid: function(validity) {
		      $(validity.field).closest('.am-form-group').find('.am-alert').hide();
		    },

	    onInValid: function(validity) {
	      var $field = $(validity.field);
	      var $group = $field.closest('.am-form-group');
	      var $alert = $group.find('.am-alert');
	      // 使用自定义的提示信息 或 插件内置的提示信息
	      if(!$(validity.field).val()){
	    	  var msg ="请填写(选择)此字段";
	      }else{
		      var msg = $field.data('validationMessage') || $field.data('ajaxMessage')|| this.getValidationMessage(validity);
	      }

	      if (!$alert.length) {
	        $alert = $('<div class="am-alert am-alert-danger"></div>').hide().
	          appendTo($group);
	      }

	      $alert.html(msg).show();
	    },
	    
	 	submit: function() {
		    var formValidity = this.isFormValid();
			var vFlag = true;
		    $.when(formValidity).then(function() {
		      // 验证成功的逻辑
		    }, function() {
		      // 验证失败的逻辑
		      vFlag = false;
		    });
		    return vFlag;
		  }
	})
	
});
</script>